<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtiles...</title>
</head>
<body>
<h1>Welcome to text analyzer.  Enter the text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; width: 650px; height: 86px;'></textarea> <br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPER CASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charcount">Character Count<br><br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>